.create-ticket {
  width: calc(100% - 200px);
}
.create-ticket-heading {
  margin: 2% 0 2% 4%;
  text-align: center;
}
.create-ticket-form {
  width: 60%;
  margin: auto;
  padding: 5%;
}
.create-btn {
  background-color: #7b1ce7;
  border: 1px solid #7b1ce7;
  color: black;
}
.create-btn:hover {
  background-color: rgb(95, 6, 168);
}
.add-query-type {
  background-color: #7b1ce7;
  border: 1px solid #7b1ce7;
  color: black;
}
.add-query-type:hover {
  background-color: rgb(95, 6, 168);
}
